* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at 70% 80%, #2c0800 9%, transparent 50%), radial-gradient(circle at 30% 15%, #803800 15%, transparent 65%), #111;
    color: #fff;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background: #000000;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #0ff;
    border-bottom: 2px solid #0ff;
}

nav a.active {
    background-color: grey;
    border: 5px solid grey;
    border-radius: 15%;

}

nav a.active:hover {

    box-shadow: 0 0 10px white;
    color: aqua;

}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 2.4rem;
    margin-bottom: 12px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 28px;
}

.btn {
    border: 2px solid #fff;
    padding: 10px 18px;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: .25s;
}

.btn:hover {
    background: #0ff;
    color: #000;
    box-shadow: 0 0 12px #0ff;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
}

.product-card {
    padding: 18px;
    border-radius: 12px;
    transition: .8s;
}

.product-card:hover {
    transform: scale(1.03);
    background: #0ff;
    color: #000;
    box-shadow: 0 0 14px #0ff;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card h4 {
    margin: 6px 0;
}

.product-card p {
    margin: 0 0 12px;
    font-weight: 600;
}

.sale .old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 8px;
}

footer {
    text-align: center;
    padding: 26px;
    background: #0b0b0b;
}

.social a {
    margin: 0 10px;
    color: #0ff;
    text-decoration: none;
}

form {
    display: grid;
    gap: 14px;
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea {
    background: #0a0a0a;
    border: 1px solid #222;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font: inherit;
}

textarea {
    min-height: 120px;
}

@media(max-width:768px) {
    nav ul {
        flex-direction: column;
        gap: 8px;
    }
}